pipeline/LoadData.json
{
	"name": "LoadData",
	"properties": {
		"activities": [
			{
				"name": "ReadExcelFileData",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "/2020_Sales_Qtys_Test.xlsx"
					}
				],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "AzureFileStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "PPT Code Description",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PPTCodeDescription",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Part Number",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PartNumber",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Part Noun",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PartNoun",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Part Description",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PartDescription",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Gross Sales Amount",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "GrossSalesAmount",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "Sale Quantity",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "SaleQuantity",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Return Quantity",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ReturnQuantity",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Warranty Quantity",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "WarrantyQuantity",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Major Code",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "MajorCode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Major Code Description",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "MajorCodeDescription",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Minor Code",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "MinorCode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MajorMinor",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "MajorMinor",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "QP1 - Dealer Net Price CURRENT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "NETPrice",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "Core Charge",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "CorePrice",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "Vehicle Family Code String US",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "VehicleFamilyCodeStringUS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Vehicle Family Code Description String US",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "VehicleFamilyCodeDescriptionStringUS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "CustomerData",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "customersalesdata",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "LoopXMLFiles",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 50,
					"activities": [
						{
							"name": "XMLData",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "XmlSource",
									"storeSettings": {
										"type": "AzureFileStorageReadSettings",
										"recursive": false,
										"wildcardFileName": {
											"value": "@item().name",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "XmlReadSettings",
										"validationMode": "none",
										"namespaces": true
									}
								},
								"sink": {
									"type": "AzureSqlSink"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['ACES']['Header']['Company']"
											},
											"sink": {
												"name": "Customer",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ACES']['Header']['SenderName']"
											},
											"sink": {
												"name": "SenderName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ACES']['Header']['SenderPhone']"
											},
											"sink": {
												"name": "SenderPhone",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ACES']['Header']['TransferDate']"
											},
											"sink": {
												"name": "TransferDate",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "$['ACES']['Header']['BrandAAIAID']"
											},
											"sink": {
												"name": "BrandAAIAID",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ACES']['Header']['DocumentTitle']"
											},
											"sink": {
												"name": "DocumentTitle",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ACES']['Header']['DocFormNumber']"
											},
											"sink": {
												"name": "DocFormNumber",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$['ACES']['Header']['EffectiveDate']"
											},
											"sink": {
												"name": "EffectiveDate",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "$['ACES']['Header']['ApprovedFor']"
											},
											"sink": {
												"name": "ApprovedFor",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ACES']['Header']['SubmissionType']"
											},
											"sink": {
												"name": "SubmissionType",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ACES']['Header']['VcdbVersionDate']"
											},
											"sink": {
												"name": "VcdbVersionDate",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "$['ACES']['Header']['QdbVersionDate']"
											},
											"sink": {
												"name": "QdbVersionDate",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "$['ACES']['Header']['PcdbVersionDate']"
											},
											"sink": {
												"name": "PcdbVersionDate",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "$['ACES']['App'][0]['BaseVehicle']['@id']"
											},
											"sink": {
												"name": "BaseVehicleID",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$['ACES']['App'][0]['BaseVehicle']['_value_']"
											},
											"sink": {
												"name": "BaseVehicle",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ACES']['App'][0]['SubModel']['@id']"
											},
											"sink": {
												"name": "SubModelID",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$['ACES']['App'][0]['SubModel']['_value_']"
											},
											"sink": {
												"name": "SubModel",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ACES']['App'][0]['EngineBase']['@id']"
											},
											"sink": {
												"name": "EngineBaseID",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$['ACES']['App'][0]['EngineBase']['_value_']"
											},
											"sink": {
												"name": "EngineBase",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ACES']['App'][0]['EngineVIN']['@id']"
											},
											"sink": {
												"name": "EngineVINID",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$['ACES']['App'][0]['EngineVIN']['_value_']"
											},
											"sink": {
												"name": "EngineVIN",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ACES']['App'][0]['Region']['@id']"
											},
											"sink": {
												"name": "RegionID",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$['ACES']['App'][0]['Region']['_value_']"
											},
											"sink": {
												"name": "Region",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ACES']['App'][0]['Qty']"
											},
											"sink": {
												"name": "Qty",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$['ACES']['App'][0]['PartType']['@id']"
											},
											"sink": {
												"name": "PartTypeID",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$['ACES']['App'][0]['PartType']['_value_']"
											},
											"sink": {
												"name": "PartType",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ACES']['App'][0]['Position']['@id']"
											},
											"sink": {
												"name": "PositionID",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$['ACES']['App'][0]['Position']['_value_']"
											},
											"sink": {
												"name": "Position",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ACES']['App'][0]['Part']"
											},
											"sink": {
												"name": "PartNumber",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ACES']['App'][0]['MfrLabel']"
											},
											"sink": {
												"name": "MfrLabel",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ACES']['App'][0]['TransmissionNumSpeeds']['@id']"
											},
											"sink": {
												"name": "TransmissionNumSpeedsID",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$['ACES']['App'][0]['TransmissionNumSpeeds']['_value_']"
											},
											"sink": {
												"name": "TransmissionNumSpeeds",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ACES']['App'][0]['EngineDesignation']['@id']"
											},
											"sink": {
												"name": "EngineDesignationID",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$['ACES']['App'][0]['EngineDesignation']['_value_']"
											},
											"sink": {
												"name": "EngineDesignation",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ACES']['App'][0]['TransmissionControlType']['@id']"
											},
											"sink": {
												"name": "TransmissionControlTypeID",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$['ACES']['App'][0]['TransmissionControlType']['_value_']"
											},
											"sink": {
												"name": "TransmissionControlType",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ACES']['Footer']['RecordCount']"
											},
											"sink": {
												"name": "TotalRecordCount",
												"type": "Int32"
											}
										}
									],
									"collectionReference": "$['ACES']['App'][0]['Note']",
									"mapComplexValuesToString": true
								}
							},
							"inputs": [
								{
									"referenceName": "xmlfilename",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ImportXMData",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "ReadExcelFileData",
						"dependencyConditions": [
							"Succeeded",
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "xmlfilessubfolder",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureFileStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2021-02-09T00:03:41Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}